/* Adding google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');


* {
    margin: 0;
    padding: 0;

}

body {
    background-color: rgb(155, 238, 130);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: -10;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 265px;
    height: 530px;
    border: 10px solid rgba(0, 0, 0, 0.897);
    border-radius: 50px;
    outline: 2px solid #e0deda;
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url("./pic.jpeg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    /* z-index: -2; */
    box-shadow: 2px 4px 5px #111111;
}

.container::after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("./Lock_image/pic1.jpeg");
    z-index: 100;
    background-position: center;
    /* background-size: 95%;     */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all 0.5s ease;
}

.container:hover::after {
    opacity: .6;
    /* z-index: -3; */
    top: -100%;
    bottom: 100%;
}


.container img {
    width: 265px;
    height: 530px;
    z-index: 10;
}

.top_section {
    width: 75px;
    height: 22px;
    background-color: black;
    border-radius: 20px;
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
}

/* styling icon */

.icons {
    width: 92%;
    height: 90%;
    position: absolute;
    top: 36px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
}

.bottom_icon {
    width: 240px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.333);
    bottom: 15px;
    border-radius: 25px;
    left: 50%;
    display: flex;
    gap: 7px;
    justify-content: center;
    align-items: center;
}

.bottom_icon img {
    width: 48px;
    height: 48px;
    z-index: 11;
    transition: all 0.3s ease;
}
.icons .bottom_icon img:hover {
    /* opacity: 0.4; */
    transform: scale(1.1);
    cursor: pointer;
}

.bottom_icon img:nth-child(2){
    width: 43px;
    border-radius: 8px;
    height: 43px;
}
.bottom_icon img:nth-child(3) {
    width: 53px;
    border-radius: 8px;
    height: 55px;
}
.bottom_icon img:nth-child(4) {
    width: 42px;
    border-radius: 8px;
    height: 44px;
}


/* middle icon  */

.middle_icon {
    width: 100%;
    height: 45%;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
}


.middle_icon img {
    width: 43px;
    height: 43px;
    border-radius: 10px;
}

.All_icon {
    transition: all 0.3s ease;
    cursor: pointer;
    
}

.All_icon:hover {
    transform: scale(1.1);
    
}

p {
    color: white;
    font-size: 11px;
    font-weight: bold;
    /* opacity: ; */
    text-align: center;
}
